{% macro cardPrimary(
  color = "",
  imgPrimary = "",
  altPrimary = "",
  imgSecondary = "",
  altSecondary = "",
  loading = "auto") %}

<div class="bg-{{ color }}-50 col-span-full max-h-80 sm:max-h-96 md:max-h-144 overflow-hidden p-8 sm:p-16 rounded-2xl">

  <div class="flex flex-nowrap justify-center -space-x-64 sm:-space-x-96 xl:-space-x-40">
    <img class="showcase group-hover:scale-102 group-hover:-translate-x-8 group-hover:translate-y-8 z-10" src="/assets/images/{{ imgPrimary }}.webp" srcset="/assets/images/{{ imgPrimary }}@2x.webp 2x" loading="{{ loading }}" alt="{{ altPrimary }}">

    <img class="showcase group-hover:scale-102 group-hover:translate-x-8 translate-y-8 group-hover:translate-y-0" src="/assets/images/{{ imgSecondary }}.webp" srcset="/assets/images/{{ imgSecondary }}@2x.webp 2x" loading="{{ loading }}" alt="{{ altSecondary }}">
  </div>
</div>

{% endmacro %}


{% macro cardSecondary(
  color = "",
  imgPrimary = "",
  altPrimary = "",
  imgSecondary = "",
  altSecondary = "",
  loading = "auto") %}

<div class="bg-{{ color }}-50 col-span-full max-h-80 sm:max-h-96 md:max-h-144 overflow-hidden p-8 sm:p-16 rounded-2xl">
  <div class="flex flex-nowrap justify-center -space-x-64 sm:-space-x-96 xl:-space-x-40">
    <img class="showcase group-hover:scale-102 group-hover:-translate-x-8 translate-y-8 group-hover:translate-y-0" src="/assets/images/{{ imgSecondary }}.webp" srcset="/assets/images/{{ imgSecondary }}@2x.webp 2x" loading="{{ loading }}" alt="{{ altSecondary }}">
    <img class="showcase group-hover:scale-102 group-hover:translate-x-8 group-hover:translate-y-8 z-10" src="/assets/images/{{ imgPrimary }}.webp" srcset="/assets/images/{{ imgPrimary }}@2x.webp 2x" loading="{{ loading }}" alt="{{ altPrimary }}">
  </div>
</div>

{% endmacro %}


{% macro cardTertiary(
  color = "",
  imgPrimary = "",
  altPrimary = "",
  imgSecondary = "",
  altSecondary = "",
  imgTertiary = "",
  altTertiary = "",
  loading = "auto") %}

<div class="bg-{{ color }}-50 col-span-full max-h-80 sm:max-h-128 overflow-hidden p-8
 sm:p-16 rounded-2xl">
  <div class="flex flex-nowrap justify-center -space-x-56 sm:-space-x-72 xl:-space-x-44">
    <img class="showcase object-left-top group-hover:scale-102 group-hover:-translate-x-6 group-hover:translate-y-8 z-20" src="/assets/images/{{ imgPrimary }}.webp" srcset="/assets/images/{{ imgPrimary }}@2x.webp 2x" loading="{{ loading }}" alt="{{ altPrimary }}">
    <img class="showcase object-left-top translate-y-8 group-hover:scale-102 group-hover:translate-y-0 z-10"  src="/assets/images/{{ imgSecondary }}.webp" srcset="/assets/images/{{ imgSecondary }}@2x.webp 2x" loading="{{ loading }}" alt="{{ altSecondary }}">
    <img class="showcase object-left-top group-hover:scale-102 group-hover:translate-x-6 group-hover:translate-y-8" src="/assets/images/{{ imgTertiary }}.webp" srcset="/assets/images/{{ imgTertiary }}@2x.webp 2x" loading="{{ loading }}" alt="{{ altTertiary }}">
  </div>
</div>

{% endmacro %}