[class^=col-] {
    flex-grow: 1;
}

.col-1 {
    width: calc(25% - 22.5px);
}

.col-1-small {
    @include respond-to(small) {
        width: calc(25% - 22.5px);
    }
}

.col-2 {
    @include respond-to(small) {
        width: calc((15.45% * 2) + 20px);
    }
}

.col-2-medium {
    @include respond-to(medium) {
        width: calc((15.45% * 2) + 20px);
    }
}

.col-3-small {
    @include respond-to(small) {
        width: calc((25% - 22.5px) * 3);
    }
}

.col-3-medium {
    @include respond-to(medium) {
        width: calc((15.45% * 3) + 20px);
    }
}

.col-half-medium {
    @include respond-to(medium) {
        width: calc(50% - 15px);
    }
}

.offset-1-medium {
    @include respond-to(medium) {
        margin-left: calc(25% - 22.5px);
    }
}