[class^=col-] {
    &:not(:last-child) {
        margin-right: 20px;
    }
}

.col-1 {
    width: calc(15.45%);
}

.col-1-small {
    @include respond-to(small) {
        width: calc(15.45%);
    }
}

.col-2 {
    @include respond-to(small) {
        width: calc((15.45% * 2) + 20px);
    }
}

.col-2-medium {
    @include respond-to(medium) {
        width: calc((15.45% * 2) + 20px);
    }
}

.col-3-medium {
    @include respond-to(medium) {
        width: calc((15.45% * 3) + 20px);
    }
}


.col-5-medium {
    @include respond-to(medium) {
        width: calc((15.45% * 5) + 20px);
    }
}

.col-half-medium {
    @include respond-to(medium) {
        width: calc(50% - 10px);
    }
}

.offset-1 {
    @include respond-to(small) {
        margin-left: calc(15.45% + 20px);
    }
}

.offset-1-only-small {
    @include respond-to(small) {
        margin-left: calc(15.45% + 20px);
    }

    @include respond-to(medium) {
        margin-left: 0;
    }
}

.offset-1-medium {
    @include respond-to(medium) {
        margin-left: calc(15.45% + 20px);
    }
}

.offset-2 {
    @include respond-to(small) {
        margin-left: calc((15.45% * 2) + 20px);
    }
}

.offset-2-medium {
    @include respond-to(medium) {
        margin-left: calc((15.45% * 2) + 20px);
    }
}

.offset-3-small {
    @include respond-to(small) {
        margin-left: calc((15.45% * 3) + 20px);
    }
}

.offset-3-medium {
    @include respond-to(medium) {
        margin-left: calc((15.45% * 3) + 20px);
    }
}

.alt-offset-1 {
    @include respond-to(small) {
        margin-left: calc(-15.45% + 20px);
    }
}

.alt-offset-1-medium {
    @include respond-to(medium) {
        margin-left: calc(-15.45% + 20px);
    }
}

.alt-offset-2 {
    @include respond-to(small) {
        margin-left: calc((-15.45 * 2) + 20px);
    }
}

.alt-offset-2-medium {
    @include respond-to(medium) {
        margin-left: calc((-15.45 * 2) + 20px);
    }
}