.article {
    padding-top: 200px;
}

.article-header {
    margin-bottom: 56px;
    text-align: center;
}

.article-body {
    margin-bottom: 72px;

    h2,
    h3,
    p,
    ul {
        @include respond-to(small) {
            margin-right: 80px;
            margin-left: 80px;
        }
    }

    p,
    ul {
        + h2,
        + figure {
            margin-top: 40px;
        }
    }

    img {
        box-shadow: 0 8px 16px rgba(#000,.2),
                    0 0 16px -24px rgba(#000,.8)
                    ;
    }
}

.article-footer {
    svg {
        @include respond-to(small) {
            margin-left: 80px;
        }
    }

    svg + .btn {
        margin-top: 72px;

        @include respond-to(small) {
            margin-right: 80px;
            margin-left: 80px;
        }
    }
}