article {
    img {
        box-shadow: 0 8px 16px rgba(#000,.2),
                    0 0 16px -24px rgba(#000,.8)
                    ;
        margin-bottom: 16px;
    }
}

figure {
    margin-right: 0;
    margin-bottom: 48px;
    margin-left: 0;
}