.article {
    padding-top: 200px;

    img {
        box-shadow: 0 8px 16px rgba(#000,.2),
                    0 0 16px -24px rgba(#000,.8)
                    ;
    }
}

.article-header,
.article-body {
    margin-bottom: 72px;
}

.article-body {
    h2,
    h3,
    p,
    ul {
        margin-right: 60px;
        margin-left: 60px;
    }

    p,
    ul {
        + h2,
        + figure {
            margin-top: 40px;
        }
    }
}


.article-footer {
    svg {
        margin-left: 60px;
    }

    svg + .btn {
        margin-top: 72px;
        margin-right: 60px;
        margin-left: 60px;
    }
}

.article-title {
    margin-bottom: 8px;
}

figure {
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0;
}