.browser {
    border-radius: 10px 10px 4px 4px;
    box-shadow: 0 1px 2px rgba(#000,.05),
                0 4px 20px rgba(#000,.25);
    transition: all .25s cubic-bezier(.17,.67,.83,.67);
    overflow: hidden;
    &:before {
        background-color: #333;
        content: "";
        display: block;
        height: 20px;
        width: 100%;
    }
}

.browser--primary {
    height: 700px;
}

.browser--primary-top {
    display: none;
    &:hover {
        transform: scale(1.03) translate3d(-10%, -10%, 10px);
    }

    @include respond-to(medium) {
        display: block;
        position: absolute;
        transform: translate(-10%, -10%);
    }
}

.browser--primary-bottom {
    &:hover {
        position: relative;
        transform: scale(1.03) translateZ(10px);
    }
}

.browser--secondary {
    // height: 565px;
    height: 600px;
}

.browser--secondary-top {
    display: none;
    &:hover {
        transform: scale(1.03)  translate3d(15%, -10%, 10px);
    }

    @include respond-to(medium) {
        display: block;
        position: absolute;
        transform: translate(15%, -10%);
    }
}

.browser--secondary-bottom {
    &:hover {
        position: relative;
        transform: scale(1.03) translateZ(10px);
    }
}

.browser--mobile {
    position: absolute;
    bottom: 0;
    right: -105px;
    width: 200px;
}
