.browser {
    background-color: #333;
    border-radius: 10px 10px 4px 4px;
    box-shadow: 0 1px 8px rgba(#000,.1),
                0 10px 40px 8px rgba(#000,.1);
    display: inline-block;
    overflow: hidden;
    padding-top: 20px;
    transition: all .25s cubic-bezier(.17,.67,.83,.67);

    @include respond-to(medium) {
        transform: scale(scale(.95);
        &:hover {
            transform: scale(1.05) translateZ(10px);
            box-shadow: 0 1px 8px rgba(#000,.1),
                        0 10px 40px 8px rgba(#000,.15);
        }
    }
}

.browser--primary {
    @include respond-to(medium) {
        height: 700px;
    }
}

.browser--primary-top {
    @include respond-to(medium) {
        display: block;
        position: absolute;
        transform: scale(.95) translate(-10%, -8%);
        &:hover {
            transform: scale(1.05) translate3d(-10%, -8%, 10px);
        }
    }
}

.browser--primary-bottom {
    display: none;

    @include respond-to(medium) {
        display: block;
    }
}

.browser--secondary {
    @include respond-to(medium) {
        height: 600px;
    }
}

.browser--secondary-top {
    display: none;

    @include respond-to(medium) {
        display: block;
        position: absolute;
        transform: scale(.95) translate(20%, -7%);
        &:hover {
            transform: scale(1.05)  translate3d(20%, -7%, 10px);
        }
    }
}

.browser--tertiary {
    height: 600px;
}

.browser--tertiary-top {
    @include respond-to(medium) {
        position: absolute;
        transform: scale(.95) translate3d(60%, 5%, -100px);
        &:hover {
            transform: scale(1.05) translate3d(60%, 5%, -100px);
        }
    }
}

.browser--tertiary-middle {
    @include respond-to(medium) {
        position: absolute;
        transform: scale(.95) translate3d(30%, -5%, 10px);
        &:hover {
            transform: scale(1.05) translate3d(30%, -5%, 10px);
        }
    }
}

.browser--mobile {
    position: absolute;
    bottom: 0;
    right: -70px;
    width: 200px;
}
