.browser-grid {
    // height: 75%;
    margin-right: 5%;
    margin-left: 5%;

    @include respond-to(small) {
        // height: auto;
        margin-right: (27px * 1.5);
        margin-left: (27px * 1.5);
    }
}

.browser-single {
    margin-right: 5%;
    margin-left: 5%;

    @include respond-to(small) {
        margin-right: 0;
        margin-left: 0;
    }
}

.browser-half {
    &:not(:last-child) {
        @include respond-to(small) {
            margin-right: (27px / 1.5);
        }
    }

    @include respond-to(small) {
        width: 42%;
    }

    + .browser-half {
        display: none;

        @include respond-to(small) {
            display: block;
        }
    }
}

.browser-third {
    &:not(:last-child) {
        @include respond-to(small) {
            margin-right: (27px / 1.5);
        }
    }
    &:last-child {
        display: none;

        @include respond-to(small) {
            display: block;
        }
    }

    @include respond-to(small) {
        width: 30%;
    }
}

.browser-primary {
    // background-color: #222;
    background-image: linear-gradient(#f5f5f5, darken(#f5f5f5, 20%) 40px);
    border-radius: 6px 6px 0 0;
    box-shadow: 0 10px 30px rgba(#000,.2);
    padding-top: 20px;
    position: relative;

    img {
        // border-top: 1px solid darken(#ccc,10%);
    }
}

.browser-primary--bleed {
    @include respond-to(small) {
        left: (27px * 1.5);
    }
}

.browser-secondary {
    background-clip: padding-box;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(#000,.5);

    img {
        border-radius: 5px;
    }
}

.browser-dots {
    background-color: #fff;
    border-radius: 7px;
    height: 7px;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 7px;
    &:before,
    &:after {
        background-color: #fff;
        border-radius: 7px;
        display: block;
        content: "";
        height: 7px;
        position: absolute;
        width: 7px;
    }
    &:before {
        margin-left: 11px;
    }
    &:after {
        margin-left: 22px;
    }
}
