.hero {
    // background-color: #f5f5f5;
    // background-color: #11bb92;
    background-image: url(../images/wave.svg),
                      linear-gradient(#f5f5f5 96% , #fff 96%);
    background-repeat: repeat-x,
                       repeat;
    background-position: bottom center,
                         top left;
    height: 95vh;
}

.hero-unit {
    h2 {
        color: lighten(#222,25%);
    }

    @include respond-to(medium) {
        width: 66%;
    }
}
