.i-hamburger {
    display: block;
    height: 16px;
    position: relative;
    width: 22px;
    &::before,
    &::after {
        background-color: #fff;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
    }
    &::before {
        top: 4px;
    }
    &::after {
        bottom: 4px;
    }

    &.close {
        width: 24px;
        &::before {
            top: 46%;
            transform: rotate(45deg);
        }
        &::after {
            bottom: 50%;
            transform: rotate(-45deg);
        }
    }

    @include respond-to(small) {
        display: none;
    }
}