.underline {
    text-decoration: underline;
}

.highlight {
    color: #2c2c2c;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition-property: color;
    &:after {
        background-color: rgba( #0290FD, .25 );
        display: block;
        content: "";
        height: 2px;
        position: absolute;
        bottom: 0;
        transform: translateX(-100%);
        transition: transform .33s ease-in-out;
        width: 100%;
    }
    &:hover {
        color: #0290FD;
        &:after {
            transform: translateX(0);
        }
    }
}