.nav {
    flex-wrap: wrap;
    white-space: nowrap;

    > li {
        &:not(:last-child) {
            margin-right: 16px;

            @include respond-to(medium) {
                margin-right: 24px;
            }
        }
    }

    a {
        display: block;
    }
}

.nav-dribbble,
.nav-github,
.nav-twitter,
.nav-instagram {
    transition-duration: .33s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    &:hover {
        transform: scale(1.3);
    }
}

.nav-dribbble {
    path {
        fill: #ea4c89;
    }
}

.nav-github {
    path {
        fill: #333;
    }
}

.nav-twitter {
    path {
        fill: #1da1f2;
    }
}

.nav-instagram {
    path {
        fill: #405de6;
    }
}