.nav {
    flex-wrap: wrap;
    white-space: nowrap;
    transition: all .3s ease;

    > li {
        &:not(:last-child) {
            margin-right: 16px;

            @include respond-to(medium) {
                margin-right: 24px;
            }
        }
    }

    a {
        display: block;
    }

    svg {
        display: inline-block;
        vertical-align: middle;
    }
}