.projects {
    padding-top: 81px;
    position: relative;

    @include respond-to(small) {
        padding-top: 85px;
    }

    @include respond-to(medium) {
        padding-top: 0;
    }

    .project-title {
        @include respond-to(medium) {
            display: none;
        }
    }
}

.projects--landing {
    .project {
        &:not(:last-child) {
            margin-bottom: 30px;

            @include respond-to(small) {
                margin-bottom: 60px;
            }

            @include respond-to(medium) {
                margin-bottom: 0;
            }
        }
    }
}

.projects--grid {
    flex-wrap: wrap;
    padding-bottom: 200px;

    @include respond-to(medium) {
        padding-top: 106px;
    }

    .project {
        flex-basis: calc(50% - 10px);
        &:nth-child(odd) {
            margin-right: 20px;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.project-link {
    display: block;
}

.project--david-cobley,
.project--bournemouth {
    background-color: #B5ADAD;
}

.project--ah-design,
.project--ncvo {
    background-color: #F4F4F4;
}

.project--single {
    padding-top: 116px;
    padding-bottom: 200px;

    @include respond-to(small) {
        padding-top: 82px;
    }

    @include respond-to(medium) {
        padding-top: 0;
    }

    .project-title {
        display: none;
    }
}

.project-title {
    font-size: 14px;

    @include respond-to(small) {
        font-size: 17px;
    }
}

.project-body {
    margin-right: -4%;
    margin-bottom: 5px;
    margin-left: -4%;

    @include respond-to(small) {
        margin-bottom: 10px;
    }

    @include respond-to(medium) {
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
}

.project-hero-image {
    margin-bottom: 20px;

    @include respond-to(medium) {
        margin-bottom: 106px;
    }
}

.project-gallery {
    @include respond-to(medium) {
        margin-bottom: 40px;
    }

    > li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}