.projects {
    background-color: #fff;
    margin-bottom: 50vh;
    overflow: hidden;
    padding-top: 35px * 4;
    padding-bottom: 35px * 4;
}

.project-card {
    flex-direction: column;
    margin-bottom: 35px * 4;
    position: relative;
    text-align: center;
    &:hover {
        .project-arrow {
            opacity: 1;
            transform: translateX(0);
        }
    }
    &:last-child {
        margin-bottom: 0;
    }

    @include respond-to(medium) {
        justify-content: space-between;
        height: 95vh;
        flex-direction: row;
        text-align: left;
    }
}

.project-a {
    @include respond-to(medium) {
        order: 1;
    }
}

.project-b {
    @include respond-to(medium) {
        order: 2;
    }
}

.project-meta {
    align-self: center;
    position: relative;

    @include respond-to(small) {
        align-self: center;
    }
}

.project-meta--b {
    @include respond-to(medium) {
        margin-right: auto;
        padding-left: 140px;
    }
}

.project-img {
    align-self: center;
    position: relative;
    // outline: 1px solid red;

    @include respond-to(medium) {
        // flex: .25;
        width: 50%;
    }
}

.project-role {
    color: #999;
    font-weight: 700;
    text-transform: uppercase;
}

.project-title {
    margin-bottom: .2em;
}

.project-arrow {
    display: none;
    opacity: 0;
    transform: translateX(-35px);
    transition: all .33s ease-in-out;
    width: 35px;

    @include respond-to(small) {
        display: block;
    }
}
