.section--island {
    padding-top: 80px;
    padding-bottom: 80px;

    @include respond-to(medium) {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.section--alt {
    background-color: #F3F8F9;
}