.social {
    line-height: 1;
    margin-bottom: 0;

    > li {
        &:not(:last-child) {
            margin-right: 14px;

            @include respond-to(small) {
                margin-right:18px;
            }
        }
    }
}

.social-icon {
    text-decoration: none;
}

.social-text {
    display: none;

    @include respond-to(small) {
        display: block;
        margin-left: 8px;
    }
}

.social-text--twitter {
    color: #1da1f2;
}

.social-text--dribbble {
    color: #ea4c89;
}

.social-text--github {
    color: #4078c0;
}

.social-text--spotify {
    color: #1db954;
}

.social-text--instagram {
    color: #222;
}
