.social {
    line-height: 1;
    margin-bottom: 0;

    > li {
        display: inline-block;
        vertical-align: middle;
        &:not(:last-child) {
            margin-right: 14px;

            @include respond-to(small) {
                margin-right:22px;
            }
        }
    }
}

.social--secondary {

}

.social-icon {
    svg {
        vertical-align: middle;

        path {
            fill: #ccc;
            transition: fill .33s ease-in-out;
        }
    }
}

.social-icon--twitter {
    &:hover {
        path {
            fill: #1da1f2;
        }
    }
}

.social-icon--dribbble {
    &:hover {
        path {
            fill: #ea4c89;
        }
    }
}

.social-icon--github {
    &:hover {
        path {
            fill: #222;
        }
    }
}

.social-icon--spotify {
    &:hover {
        path {
            fill: #1db954;
        }
    }
}

.social-icon--instagram {
    &:hover {
        path {
            fill: #222;
        }
    }
}

.social-text {
    display: none;

    @include respond-to(small) {
        display: inline-block;
        margin-left: 8px;
    }
}

.social-text--twitter {
    color: #1da1f2;
}

.social-text--dribbble {
    color: #ea4c89;
}

.social-text--github {
    color: #4078c0;
}

.social-text--spotify {
    color: #1db954;
}

.social-text--instagram {
    color: #fff;
}
