---
layout: base
---

<div class="space-y-16 sm:space-y-20">
  <header class="mt-24 md:mt-32 lg:mt-48 space-y-10 md:w-1/2">
    <a class="group" href="/">
      <h1 class="flex font-headline font-semibold items-center leading-tight mb-1.5 space-x-2 text-5xl"><span>&larr;</span> <span>{{ title }}</span></h1>
    </a>

    <ul class="flex mb-10">
      <li class="flex-1">
          <p class="inline-block font-headline mb0.5 text-gray-500 text-sm tracking-widest uppercase">Company</p>
          <p class="ml-auto font-semibold text-gray-800 text-xl">{{ company }}</p>
      </li>
      <li class="flex-1">
          <p class="inline-block font-headline mb0.5 text-gray-500 text-sm tracking-widest uppercase">Role</p>
          <p class="ml-auto font-semibold text-gray-800 text-xl">{{ tag }}</p>
      </li>
    </ul>

    <p class="leading-normal text-gray-500 text-xl">{{ desc }}</p>
  </header>

  {{ content | safe }}
</div>