@import "tailwindcss";

@theme {
  --font-sans:
    "Figtree Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-bricolage:
    "Bricolage Grotesque Variable", ui-sans-serif, system-ui, sans-serif;

  --animate-scroll: scroll 32s linear infinite;

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 3rem));
    }
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
