{{ partial "header.html" . }}

	<main class="fade-in">
		<article class="article">
			<div class="l-full">
				<header class="mb-8 mb-15-medium">
					<h1 class="mb-1">{{ .Title}}</h1>
					<p class="gamma grey-60 mb-0">{{ .Description }}</p>
				</header>
			</div>

			{{ if .Params.hero }}
				<div class="island bg-offwhite mb-3 pb-0">
					<div class="l-full">
						<img class="mr-a ml-a" src="{{ .Params.hero }}" alt="">
					</div>
				</div>
			{{ end }}

			<div class="mb-5 mb-9-medium">
				<div class="l-full">
					<div class="grid grid-col-2">
						<div class="col">
							<h2 class="epsilon mb-half">Role</h2>
							<p class="delta grey-60 mb-0">{{ .Params.role}}</p>
						</div>

						<div class="col">
							<h2 class="epsilon mb-half">Company</h2>
							<p class="delta grey-60 mb-0">{{ if .Params.company }}{{ .Params.company }}{{ else }}Freelance{{ end }}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="l-constrained">
				<div class="article-body">
					{{ .Content | replaceRE "<p>" "<p class=\"delta\">" | replaceRE "<ul>" "<ul class=\"delta\">" | safeHTML }}
				</div>

				{{ if .Params.site_url }}
					<footer class="article-footer">
						<a class="btn ta-c" href="{{ .Params.site_url }}">Launch site</a>
					</footer>
				{{ end }}
			</div>
		</article>
	</main>

{{ partial "footer.html" . }}