{{ partial "header.html" . }}

	<main>
		<div class="l-constrained">
			<article class="article">
				<header class="article-header">
					<h1 class="article-title">{{ .Title}}</h1>
					<p class="beta">{{ .Description }}</p>
				</header>

				<div class="article-body">
					{{ .Content | replaceRE "<p>" "<p class=\"gamma\">" | safeHTML }}
				</div>

				<footer class="article-footer">
					{{ partial "wave.html" . }}

					{{ if .Params.site_url }}
						<a class="btn" href="{{ .Params.site_url }}">Launch site</a>
					{{ end }}
				</footer>
			</article>
		</div>
	</main>

{{ partial "footer.html" . }}