.primary {
    color: var(--primary);
}

.black {
    color: var(--black);
}

.bg-offwhite {
    background-color: #F3F8F9;
}

.bg-footer {
    background-color: #f9f9f9;
}

.grey {
    color: var(--grey);
}
.grey-90 {
    color: var(--grey-90);
}
.grey-80 {
    color: var(--grey-80);
}
.grey-70 {
    color: var(--grey-70);
}
.grey-60 {
    color: var(--grey-60);
}
.grey-50 {
    color: var(--grey-50);
}
.grey-40 {
    color: var(--grey-40);
}
.grey-30 {
    color: var(--grey-30);
}
.grey-20 {
    color: var(--grey-20);
}
.grey-10 {
    color: var(--grey-10);
}

.white {
    color: var(--white);
}
.white-90 {
    color: var(--white-90);
}
.white-80 {
    color: var(--white-80);
}
.white-70 {
    color: var(--white-70);
}
.white-60 {
    color: var(--white-60);
}
.white-50 {
    color: var(--white-50);
}