.primary {
    color: var(--primary);
}

.black {
    color: var(--black);
}

.grey {
    color: var(--grey);
}
.grey-90 {
    color: var(--grey-90);
}
.grey-80 {
    color: var(--grey-80);
}
.grey-70 {
    color: var(--grey-70);
}
.grey-60 {
    color: var(--grey-60);
}
.grey-50 {
    color: var(--grey-50);
}

.white {
    color: var(--white);
}