.primary {
    color: var(--primary);
}

.black {
    color: var(--black);
}

.bg-article {
    background: linear-gradient(360deg, #fff 15%, #F3F8F9 15%);
    padding-top: 144px;

    @include respond-to(medium) {
        padding-top: 232px;
    }
}

.bg-offwhite {
    background-color: #F3F8F9;
}

.bg-footer {
    background-color: #f9f9f9;
}

/**
* Project background
*/

.bg-local-boiler-company {
    background-color: #FFD40A;
}

.bg-sealskinz {
    background-color: #202C6D;
}

.bg-persistent-basket {
    background-color: #0191DE;
}

.bg-blucommerce-denim-templates {
    background-image: linear-gradient(-180deg, #D5E6FC 3%, #ABCDF9 100%);
}

.bg-teapigs {
    background-color: #a2c87f;
}

.bg-joseph-turner {
    background-color: #990033;
}

.bg-route-one {
    background-color: #00aba2;
}

/**
* Color
*/

.grey {
    color: var(--grey);
}
.grey-90 {
    color: var(--grey-90);
}
.grey-80 {
    color: var(--grey-80);
}
.grey-70 {
    color: var(--grey-70);
}
.grey-60 {
    color: var(--grey-60);
}
.grey-50 {
    color: var(--grey-50);
}
.grey-40 {
    color: var(--grey-40);
}
.grey-30 {
    color: var(--grey-30);
}
.grey-20 {
    color: var(--grey-20);
}
.grey-10 {
    color: var(--grey-10);
}

.white {
    color: var(--white);
}
.white-90 {
    color: var(--white-90);
}
.white-80 {
    color: var(--white-80);
}
.white-70 {
    color: var(--white-70);
}
.white-60 {
    color: var(--white-60);
}
.white-50 {
    color: var(--white-50);
}