.mt-1 {
    margin-top: 8px;
}

.mt-2 {
    margin-top: 16px;
}

.mt-3 {
    margin-top: 24px;
}

.mt-4 {
    margin-top: 32px;
}

.mt-5 {
    margin-top: 40px;
}

.mt-6 {
    margin-top: 48px;
}

.mt-7 {
    margin-top: 56px;
}

.mt-8 {
    margin-top: 64px;
}

.mt-9 {
    margin-top: 72px;
}

.mb-0 {
    margin-bottom: 0;
}

.mr-a {
    margin-right: auto;
}

.mr-a-small {
    @include respond-to(small) {
        margin-right: auto;
    }
}

.ml-a {
    margin-left: auto;
}

.ml-a-only-small {
    margin-left: auto;

    @include respond-to(small) {
        margin-left: 0;
    }
}

.ml-a-small {
    @include respond-to(small) {
        margin-left: auto;
    }
}

.pb-0 {
    padding-bottom: 0;
}