---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const socials = [
  {
    title: "Mastodon",
    handle: "chocho@fosstodon.org",
    href: "https://fosstodon.org/@chocho",
  },
  {
    title: "GitHub",
    handle: "kachunchau",
    href: "https://github.com/kachunchau",
  },
  {
    title: "Spotify",
    handle: "chocho",
    href: "https://open.spotify.com/user/1123026550?si=3ad8b17298354ea3",
  },
  {
    title: "Email",
    handle: "kachun@kachunchau.com",
    href: "mailto:kachun@kachunchau.com",
  },
];
---

<Layout title="Ka-Chun Chau — UI Designer">
  <main class="max-w-[580px]">
    <div
      class="mb-8 flex size-14 animate-bounce items-center justify-center text-5xl"
    >
      👋
    </div>

    <h1 class="mb-12 text-4xl">
      <span class="text-white">Hello there</span>, I'm Ka-Chun Chau&mdash;a <abbr
        class="no-underline"
        title="User Interface">UI</abbr
      > designer that codes. Currently working for
      <a
        class="font-extrabold text-gray-50 transition duration-300 ease-in-out focus-within:ring-4 focus-within:ring-orange-500 hover:text-orange-500"
        href="https://getvero.com"
        >Vero
      </a> remotely in Melbourne, Australia.
    </h1>

    <h2
      class="mb-2.5 text-sm font-extrabold uppercase tracking-wider text-gray-400"
    >
      Elsewhere
    </h2>
    <ul class="space-y-2 sm:space-y-0">
      {socials.map((social) => <Card social={social} />)}
    </ul>
  </main>
</Layout>
