@import
    "normalize";

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.giga {
    color: #222;
    font-size: 37px;
    line-height: 1.2;
    margin-bottom: .5em;

    @include respond-to(small) {
        font-size: 63px;
        margin-bottom: .3em;
    }

    @include respond-to(medium) {
        font-size: 97px;
        letter-spacing: -.01em;
    }
}

.mega {
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 1em;

    @include respond-to(small) {
        font-size: 37px;
    }
}

h1,
.alpha {
    font-size: 20px;

    @include respond-to(small) {
        font-size: 27px;
    }
}

h2,
.beta {
    font-size: 20px;
}

h3,
.gamma {
    font-size: 18px;
}

h4,
.delta {
    font-size: 14px;
}

p {
    margin-top: 0;
    &:last-child {
        margin-bottom: 0;
    }
}

* {
    box-sizing: border-box;
    &:after {
        box-sizing: inherit;
    }
}

html,
body {
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}

html {
    background-color: #fff;
    box-sizing: border-box;
    color: lighten(#222,15%);
    // font-family: $serif;
    font-family: $sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

::-moz-selection {
    background: #b3d4fc;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    color: #fff;
    text-shadow: none;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    text-decoration: underline;
    transition-property: all;
    transition-duration: .25s;
    transition-timing-funtion: ease-in-out;
    &:hover {
        color: #11bb92;
    }
}
