@import 'normalize';

/* Fonts
     =========================================================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2C2C2C;
    font-weight: 500;
    margin-top: 0;
}

h1,
.alpha {
    font-size: 32px;
    line-height: 1.4;

    @include respond-to(medium) {
        font-size: 42px;
    }

    span {
        background: linear-gradient(180deg, #Fff 30%, #D0FBD2 30%, #D0FBD2 70%, #Fff 70%);
        display: inline;
    }
}
h2,
.beta {
    font-size: 20px;

    @include respond-to(medium) {
        font-size: 27px;
    }
}
h3,
.gamma {
    font-size: 16px;

    @include respond-to(small) {
    }

    @include respond-to(medium) {
        font-size: 18px;
    }
}
h4,
.delta {

}
h5,
.epsilon {

}
h6,
.zeta {

}

p {
    margin-top: 0;
    &:last-child {
        margin-bottom: 0;
    }
}

/* Defaults
     =========================================================================*/

html {
    box-sizing: border-box;
}

* {
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

html {
    color: #484848;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
}

body {
    background-color: #FFF;
}

a {
    color: #0290FD;
    transition-property: all;
    transition-duration: .33s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    &:hover {
        color: #0290FD;
    }
}

::-moz-selection {
    @include selection();
}

::selection {
    @include selection();
}

::-webkit-input-placeholder {
    @include placeholder();
}

::-moz-placeholder {
    @include placeholder();
}

:-ms-input-placeholder {
    @include placeholder();
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}