.l-stacked,
.l-inline,
.l-grid {
    @extend %nobullets;

    margin-bottom: 0;
}

.l-inline {
    > li {
        display: inline-block;
    }
}

.l-grid {
    @extend %clearfix;

    margin-bottom: 0;

    > li {
        float: left;
    }
}

.l-constrained {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    width: 90%;

    @include respond-to(small) {
        width: 95%;
    }
}
