@import
    "layout/display",
    "layout/flexbox",
    "layout/grid"
    ;

.l-header {
    border-bottom: 1px solid var(--grey-10);
    padding-top: 24px;
    padding-bottom: 24px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition-duration: .5s;
    transition-property: transform;
    transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
    z-index: 500;

    @include respond-to(small) {

    }

    @include respond-to(medium) {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

.l-header--narrow {
    border-bottom: 0;
}

.l-footer {
    grid-template-areas:
      "content"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    min-height: 30vh;

    @include respond-to(medium) {
        min-height: 50vh;
    }
}

.footer-body {
    grid-area: content;
}

.footer-copyright {
    border-top: 1px solid var(--grey-10);
    grid-area: footer;
}

main {
    padding-bottom: 75px;

    @include respond-to(medium) {
        padding-bottom: 120px;
    }
}

.l-constrained,
.l-full {
    margin-right: auto;
    margin-left: auto;
    padding-right: 4%;
    padding-left: 4%;
}

.l-constrained {
    max-width: 850px;
}

.l-full {
    max-width: 1290px;
}