// Selection
@mixin selection() {
    background: #b3d4fc;
    text-shadow: none;
}

// Placeholder
@mixin placeholder() {
    color: #999;
}

// Breakpoints
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);

        @media only screen and (min-width: $value) {
            @content;
        }
    }

    @warn "Unknown `#{$breakpoint}` in $breakpoints";
}