/* Variables
    ==========================================================================*/

:root {
    --primary: #0290FD;

    --black: #2C2C2C;

    --grey: #484848;
    --grey-90: rgba(#484848,.9);
    --grey-80: rgba(#484848,.8);
    --grey-70: rgba(#484848,.7);
    --grey-60: rgba(#484848,.6);
    --grey-50: rgba(#484848,.5);
    --grey-40: rgba(#484848,.4);
    --grey-30: rgba(#484848,.3);
    --grey-20: rgba(#484848,.2);
    --grey-10: rgba(#484848,.1);

    --white: #fff;
    --white-90: rgba(#fff,.9);
    --white-80: rgba(#fff,.8);
    --white-70: rgba(#fff,.7);
    --white-60: rgba(#fff,.6);
    --white-50: rgba(#fff,.5);
    --white-40: rgba(#fff,.4);
    --white-30: rgba(#fff,.3);
    --white-20: rgba(#fff,.2);
    --white-10: rgba(#fff,.1);
}


$breakpoints: (
    "small": 35em,
    "medium": 50em
);