.is-slide-up {
    transform: translateY(-100%);
}

.is-hidden {
    opacity: 0;
    transition: visibility 2s ease, .4s opacity ease;
    visibility: hidden;
}

.is-visible {
    opacity: 1;
    transition: .4s opacity ease;
    visibility: visible;
}

.bobbing {
    animation: bobbing .75s ease-in-out infinite alternate both;
}

.fade-in {
    animation: fade-in .5s ease .4s alternate both;
}

.fade-in-alt {
    animation: fade-in-alt .5s ease alternate backwards;
}

@keyframes bobbing {
    0% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(4px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(16px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-alt {
    0% {
        opacity: 0;
        transform: translateY(-24px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}