---
interface Props {
  description?: string;
}

const { description } = Astro.props;
---

<div
  class="rounded-3xl border border-slate-200 bg-linear-to-br from-teal-50 via-transparent px-6 py-8 md:p-16 dark:border-white/10 dark:from-cyan-800/30"
>
  <h2 class="!mx-0 mt-0 mb-6">Overview</h2>
  <p class="!m-0">{description}</p>
</div>
