---
interface Props {
  description?: string;
}

const { description } = Astro.props;
---

<div
  class="-mx-6 max-w-fit rounded-3xl border border-slate-200 bg-linear-to-br from-teal-50 via-transparent px-6 py-8 md:-mx-10 md:p-10 dark:border-white/10 dark:from-cyan-800/30"
>
  <h2 class="mt-0">Overview</h2>
  <p class="mb-0">{description}</p>
</div>
