---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  className?: string;
  company?: string;
  title?: string;
  description?: string;
  alt?: string;
  imgSrc: ImageMetadata;
  gradient?: "primary" | "secondary" | "tertiary";
  aligment?: "right" | "left";
  href?: string;
}

const {
  className,
  company = "Vero",
  title,
  description,
  alt,
  imgSrc,
  gradient = "primary",
  aligment = "right",
  href = "#none",
} = Astro.props;

const gradientStyles = {
  primary: "from-cyan-100 to-yellow-50",
  secondary: "from-yellow-50 to-cyan-100 ",
  tertiary: "from-rose-50 to to-blue-100",
};

const aligmentStyles = {
  right: "self-end text-right left-0",
  left: "self-start right-0",
};
---

<a
  class:list={[
    "group relative flex min-h-90 flex-col justify-end overflow-hidden rounded-4xl bg-linear-120 sm:h-104 md:h-120 lg:h-150 dark:shadow-2xl",
    className,
    gradientStyles[gradient],
  ]}
  href={href !== "#none" ? href : undefined}
>
  <div
    class:list={[
      "absolute inset-6 z-10 flex flex-col items-stretch md:inset-12 lg:inset-16",
    ]}
  >
    <div class:list={["self-end md:w-1/2 lg:w-78", aligmentStyles[aligment]]}>
      <span
        class="inline-block text-xs font-medium tracking-widest text-slate-400 uppercase md:text-sm"
        >{company}</span
      >
      <h2
        class="font-bricolage text-2xl font-semibold -tracking-wide text-cyan-950 md:mt-2 md:text-4xl"
      >
        {title}
      </h2>
      <p class="mt-0.5 text-base text-cyan-950 md:mt-2 md:text-xl">
        {description}.
      </p>
    </div>

    {
      href !== "#none" && (
        <div
          class:list={[
            "group/link z-10 mt-auto flex h-10 items-center rounded-full transition-all duration-300 ease-in-out group-hover:gap-1 group-hover:px-4 group-hover:ring-2 group-hover:ring-cyan-950/25 hover:bg-cyan-950 hover:ring-cyan-950 md:h-11 md:group-hover:gap-3 md:group-hover:px-5.5",
            aligmentStyles[aligment],
          ]}
        >
          <span class="invisible inline-block max-w-0 font-semibold text-cyan-950 opacity-0 transition-transform duration-300 ease-in-out group-hover:visible group-hover:max-w-full group-hover:opacity-100 group-hover/link:text-cyan-50 md:text-xl">
            Read more
          </span>
          <span class="flex size-10 items-center justify-center rounded-full bg-cyan-950 text-xl font-normal text-cyan-50 group-hover:size-auto group-hover:bg-transparent group-hover:text-slate-400 md:size-11">
            →
          </span>
        </div>
      )
    }
  </div>

  <Image
    class="w-auto max-w-none transform-gpu rounded-b-4xl drop-shadow-xl transition-all duration-300 ease-in-out group-hover:scale-[1.025] lg:w-320 lg:rounded-4xl"
    src={imgSrc}
    alt={alt || "Case study image"}
  />
</a>
