---
interface Props {
  description?: string;
}

const { description } = Astro.props;
---

<div
  class="max-w-max rounded-3xl bg-teal-50 px-6 py-8 inset-ring-2 inset-ring-teal-300 md:p-8 dark:border-white/10 dark:from-cyan-800/30"
>
  <h2 class="!mx-0 mt-0 mb-6">Overview</h2>
  <p class="!m-0">{description}</p>
</div>
