---
import DribbbleLogo from "../images/dribbble.svg";
import GithubLogo from "../images/github.svg";
import MastodonLogo from "../images/mastodon.svg";
import SpotifyLogo from "../images/spotify.svg";
import SketchLogo from "../images/sketch.svg";
import AstroLogo from "../images/astro.svg";

const socialLinks = [
  {
    title: "Dribbble",
    href: "https://dribbble.com/kachunchau",
    logo: DribbbleLogo,
  },
  {
    title: "GitHub",
    href: "https://github.com/kachunchau",
    logo: GithubLogo,
  },
  {
    title: "Mastodon",
    href: "https://fosstodon.org/@chocho",
    logo: MastodonLogo,
  },
  {
    title: "Spotify",
    href: "https://open.spotify.com/user/1123026550?si=3ad8b17298354ea3",
    logo: SpotifyLogo,
  },
];
---

<footer
  class:list={[
    "fixed right-0 bottom-0 left-0 z-0 flex h-150 flex-col py-10 text-cyan-50 md:py-20",
  ]}
>
  <div
    class="mx-auto flex w-full max-w-7xl flex-1 flex-col gap-5.5 px-8 md:px-20 xl:px-0"
  >
    <h4
      class="font-bricolage text-3xl font-light tracking-[-0.025em] whitespace-nowrap md:text-5xl"
    >
      The boring stuff
    </h4>

    <ul class="-mx-6 flex flex-col items-start gap-1">
      {
        socialLinks.map((socialLink) => (
          <li>
            <a
              class="group flex items-center gap-2 rounded-full px-6 py-2.5 transition-colors duration-300 ease-in-out hover:bg-teal-400/20 hover:inset-ring-2 hover:inset-ring-teal-400"
              href={socialLink.href}
              {...(socialLink.title === "Mastodon" ? { rel: "me" } : {})}
            >
              {socialLink.logo && (
                <socialLink.logo
                  class={[
                    "flex-none",
                    ["GitHub", "Dribbble"].includes(socialLink.title) &&
                      "fill-white",
                  ]
                    .filter(Boolean)
                    .join(" ")}
                  width={24}
                  height={24}
                />
              )}

              <div class="flex flex-1 items-center gap-1">
                <span class="text-xl font-medium">{socialLink.title}</span>

                <span class="text-xl font-medium text-slate-400">↗</span>
              </div>
            </a>
          </li>
        ))
      }
    </ul>

    <p class="mt-auto flex items-center gap-1 text-slate-400">
      <span class="flex items-center gap-0.5 text-base whitespace-nowrap">
        <span>Designed in</span>
        <SketchLogo
          class="inline-block size-6 fill-white"
          width={24}
          width={24}
        />Sketch.
      </span>
      <span class="flex items-center text-base whitespace-nowrap">
        <span>Built with</span>
        <AstroLogo
          class="ml-0.5 inline-block size-6 fill-white"
          width={24}
          width={24}
        /> Astro.
      </span>
    </p>
  </div>
</footer>
