---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import Header from "./Header.astro";

interface Props {
  imgSrc?: ImageMetadata;
  imgColor?: String;
}

const { imgSrc, imgColor } = Astro.props as {
  imgSrc: any;
  imgColor?: "primary" | "secondary" | "tertiary";
};

const imgStyles: Record<"primary" | "secondary" | "tertiary", string> = {
  primary: "bg-cyan-100",
  secondary: "bg-blue-100",
  tertiary: "bg-blue-100",
};
const bgClass = imgStyles[imgColor ?? "primary"];
---

<Header />

<div
  class="space-y-20 px-8 pt-30 pb-20 md:space-y-24 md:px-20 md:pt-38 md:pb-32 xl:px-0 xl:pt-44"
>
  <div class="mx-auto max-w-6xl">
    <slot />
  </div>

  {
    imgSrc && (
      <div class={`mx-auto max-w-7xl overflow-hidden rounded-4xl ${bgClass}`}>
        <Image
          class="drop-shadow-2xl"
          src={imgSrc}
          alt="Me"
          densities={[1, 2]}
          loading="eager"
        />
      </div>
    )
  }
</div>
