---
import Header from "./Header.astro";

interface Props {
  variant?: "gradient" | "white" | "transparent";
}

const { variant = "transparent" } = Astro.props;

const variantStyles = {
  gradient: "bg-linear-to-b to-cyan-50 from-white dark:bg-none",
  white: "bg-white dark:bg-transparent",
  transparent: "",
};
---

<div class={`pt-10 md:pt-8 ${variantStyles[variant]}`}>
  <Header />

  <div
    class={`mx-auto px-10 pt-30 pb-20 xl:pt-56 md:pt-48 md:pb-32 max-w-6xl md:px-20 xl:px-0`}
  >
    <slot />
  </div>
</div>
