---
import Header from "./Header.astro";

interface Props {
  variant?: "gradient" | "white" | "transparent";
}

const { variant = "transparent" } = Astro.props;

const variantStyles = {
  gradient: "bg-linear-to-b to-cyan-50 from-white dark:bg-none",
  white: "bg-white dark:bg-transparent",
  transparent: "",
};
---

<Header />

<div
  class="mx-auto max-w-6xl px-8 pt-30 pb-20 md:px-20 md:pt-38 md:pb-32 xl:px-0 xl:pt-44"
>
  <slot />
</div>
