		<footer class="l-footer d-grid ta-c">
			<div class="footer-body d-grid">
				<div class="align-self-center">
					<h4 class="alpha mb-2">Get in touch</h4>

					<p class="beta mb-0">Feel free to <a class="d-ib primary" href="mailto:kachun@kachunchau.com">email me</a> or <a class="d-ib primary" href="https://twitter.com/kachunchau">tweet me</a> if you want to work together.</p>
				</div>
			</div>

			<div class="pt-2 pb-2 footer-copyright">
				<p class="mb-0">Coded with my hands and hosted on <a class="primary" href="https://www.netlify.com">Netlify</a></p>
			</div>
		</footer>

	</body>

	<script src="{{ .Site.BaseURL }}javascript/script.min.js" async></script>

</html>