<div class="js-overlay overlay is-hidden">
    <div class="l-constrained">
        <div class="overlay-content">
            <div class="flexbox flex-direction-column-small">
                <div class="col-1-small offset-1">
                    <ul class="delta list-unstyled">
                        {{ range .Site.Sections }}
                            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>

                    <ul class="delta list-unstyled">
                        <li>Connect</li>
                        <li>
                            <a href="#none">adam@adam.co.uk </a>
                        </li>
                        <li>
                            <a href="#none">07772 153527</a>
                        </li>
                    </ul>
                </div>

                <div class="delta col-3-medium offset-1-only-small">
                    <p>Currently living and working in Bath. With over 10 years experience, my skills range across branding, graphic design, art direction, print, web design, user interface design and packaging. I have worked in both full time and freelance roles, working for some of the leading design agencies around the South West, gaining extensive experience across the public, private, cultural and academic sectors.</p>

                    <p>From dealing with short deadlines to picking up ongoing projects, the skills I have developed allow me to work and collaborate with speed, flexibility and efficiency. If you have a project in mind, want to talk availability or would just like to say hello, please <a href="#none"></a>get in touch</a>.</p>

                    <h3 class="delta mb-0">Capabilities</h3>
                    <ul class="list-unstyled">
                        <li>Brand Identity </li>
                        <li>Graphic Design </li>
                        <li>Photographic & Art Direction </li>
                        <li>Web Design</li>
                        <li>User Interface Design</li>
                        <li>Packaging</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>