<div class="project project--{{ lower .Title | urlize }}">
	<div class="flexbox justify-content-start project-image">
		<ul class="flexbox flexbox--end list-unstyled mb-0">
			{{ if not (eq .Title "bluCommerce Denim Templates" | or (eq .Title "Persistant Basket")) }}
				{{ range .Params.snippet_1 }}
					<li class="project-image-item project-image-item--desktop">
						<div class="browser">
							<div class="browser-dots">
								<div class="browser-dot"></div>
								<div class="browser-dot"></div>
								<div class="browser-dot"></div>
							</div>
						</div>

						<img class="align-self-end" src="{{ . }}" alt="">
					</li>
				{{ end }}
			{{ else }}
				{{ range .Params.snippet_1 }}
					<li class="project-image-item project-image-item--mobile">
						<img class="align-self-end" src="{{ . }}" alt="">
					</li>
				{{ end }}
			{{ end }}
		</ul>
	</div>

	<div class="project-meta">
		<h2 class="beta project-title">
			<a href="{{ .Permalink }}">{{ .Title }}</a>

			{{ if .Params.site_url }}
				<a href="{{ .Params.site_url }}">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 22 22">
						<g fill="none" fill-rule="evenodd" stroke="#484848" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(1 1)">
						<path d="M8,11 C8.86895549,12.1616929 10.1996273,12.8887004 11.6466499,12.9923333 C13.0936724,13.0959663 14.5143658,12.5660061 15.54,11.54 L18.54,8.54 C20.434861,6.57810557 20.4077619,3.45957611 18.4790929,1.53090712 C16.5504239,-0.397761869 13.4318944,-0.424861048 11.47,1.47 L9.75,3.18"/>
						<path d="M12,9 C11.1310445,7.83830708 9.8003727,7.11129957 8.35335013,7.00766666 C6.90632757,6.90403374 5.4856342,7.43399387 4.46,8.46 L1.46,11.46 C-0.434861048,13.4218944 -0.407761869,16.5404239 1.52090712,18.4690929 C3.44957611,20.3977619 6.56810557,20.424861 8.53,18.53 L10.24,16.82"/>
						</g>
					</svg>
				</a>
			{{ end }}
		</h2>

		<p class="gamma mb-0">{{ .Description }} {{ if .Params.company }} at {{ .Params.company }}{{ end }}</p>
	</div>
</div>
