<div class="col-half-medium project project--{{ lower .Title | urlize }}">
	<a href="{{ .Permalink }}">
		<div class="flexbox justify-content-start project-image">
			<ul class="flexbox flexbox--end list-unstyled mb-0">
				{{ if not (eq .Title "bluCommerce Denim Templates" | or (eq .Title "Persistent Basket")) }}
					{{ range .Params.summary_img }}
						<li class="project-image-item project-image-item--desktop">
							<div class="browser">
								<div class="browser-dots">
									<div class="d-ib browser-dot browser-dot--1"></div>
									<div class="d-ib browser-dot browser-dot--2"></div>
									<div class="d-ib browser-dot browser-dot--3"></div>
								</div>
							</div>

							<img class="align-self-end" src="{{ . }}" alt="">
						</li>
					{{ end }}
				{{ else }}
					{{ range .Params.summary_img }}
						<li class="project-image-item project-image-item--mobile">
							<img class="align-self-end" src="{{ . }}" alt="">
						</li>
					{{ end }}
				{{ end }}
			</ul>
		</div>
	</a>

	<div class="project-meta">
		<h2 class="beta flexbox flexbox--center project-title"><a class="black" href="{{ .Permalink }}">{{ .Title }}</a>

			{{ if .Params.site_url }}
				<a class="ml-a" href="{{ .Params.site_url }}">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
						<g fill="none" fill-rule="evenodd" stroke="var(--grey)" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(1 1)">
							<path d="M15,10 L15,16 C15,17.1045695 14.1045695,18 13,18 L2,18 C0.8954305,18 0,17.1045695 0,16 L0,5 C0,3.8954305 0.8954305,3 2,3 L8,3"/>
							<polyline points="12 0 18 0 18 6"/>
							<path d="M7,11 L18,0"/>
						</g>
					</svg>
				</a>
			{{ end }}
		</h2>

		<p class="gamma mb-0">{{ .Params.role }} {{ if .Params.company }} at {{ .Params.company }}{{ end }}</p>
	</div>
</div>
