{{ partial "header.html" . }}

	<main class="fade-in">
		<div class="l-constrained">
			<div class="hero flexbox justify-content-center">
				<div class="align-self-center">
					{{ .Content }}

					{{ partial "wave.html" . }}
				</div>
			</div>

			<div class="grid stack-2-col-small mb-10 mb-15-medium">
				<div class="col">
					<h2 class="beta mb-0">About me</h2>
				</div>

				<div class="col mt-1">
					<p class="gamma">Hey there, I’m Ka-Chun Chau a freelance digital designer with a focus in UI on the web. Over the past 7 years I’ve worked with companies such as Teapigs, Sealskinz, Sky Sports, DeNA West and many more.</p>

					<p class="gamma">I enjoy working with companies who are passionate and understand the value of good design. Most of all I want to simplify each person’s workflow so it’s unobtrusive and delightful.</p>

					<p class="gamma mb-3">Outside of work I enjoy post/math-rock, beers and playing video games.</p>

					<h3 class="gamma mb-2">See my recent work.</h3>

					<span class="alpha d-ib bobbing">👇</span>
				</div>
			</div>
		</div>

		<div class="mb-10 mb-15-medium island bg-offwhite">
			<div class="l-full">
				<div class="grid projects">
					{{ range where (where .Site.RegularPages "Section" "portfolio") ".Title" "!=" "Other" }}
						{{ partial "summary.html" . }}
					{{ end }}
				</div>
			</div>
		</div>

		<div class="l-constrained">
			<h3 class="alpha">Other work</h3>

			<ul class="list-unstyled project-list mb-5 mb-8-medium">
				{{ range where .Site.RegularPages ".Title" "Other" }}
					{{ range .Params.list }}
					<li>
						<h3 class="beta mb-0">{{ if .site_url }}<a class="d-ib highlight" href="{{ .site_url }}">{{ .work }}</a>{{ end }}</h3>
						<p class="gamma grey-60 mb-0">{{ .role }} {{ if .company }}at {{ .company }}{{ end }}</p>
					</li>
					{{ end }}
				{{ end }}
			</ul>

			{{ partial "wave.html" . }}
		</div>
	</main>

{{ partial "footer.html" . }}