{{ partial "header.html" . }}

	<main class="fade-in">
		<div class="l-constrained">
			<div class="hero flexbox justify-content-center">
				<div class="align-self-center">
					{{ .Content }}

					{{ partial "wave.html" . }}
				</div>
			</div>

			<div class="section flexbox flex-row-small">
				<div class="col-1-small">
					<h2 class="beta">About me</h2>
				</div>

				<div class="col-3-small mt-1">
					<p class="gamma">Hey there, I’m Ka-Chun Chau a freelance digital designer with a focus in UI on the web. Over the past 7 years I’ve worked with companies such as Teapigs, Sealskinz, Sky Sports, DeNA West and many more.</p>

					<p class="gamma">I enjoy working with companies who are passionate and understand the value of good design.</p>

					<p class="gamma">Outside of work I enjoy post/math-rock, beers and playing video games.</p>

					<h3 class="gamma">See my recent work.</h3>

					<span class="alpha d-ib bobbing">👇</span>
				</div>
			</div>
		</div>

		<div class="section section--island section--alt">
			<div class="l-full">
				<div class="flexbox flex-wrap projects">
					{{ range where (where .Site.RegularPages "Section" "portfolio") ".Title" "!=" "Other" }}
						{{ partial "summary.html" . }}
					{{ end }}
				</div>
			</div>
		</div>

		<div class="l-constrained">
			<h3 class="beta">Other work</h3>

			<ul class="list-unstyled project-list">
				{{ range where .Site.RegularPages ".Title" "Other" }}
					{{ range .Params.list }}
					<li>
						<h3 class="gamma project-title">{{ if .site_url }}<a class="d-ib highlight" href="{{ .site_url }}">{{ .work }}</a>{{ end }}</h3>
						<p class="gamma mb-0">{{ .role }} {{ if .company }}at {{ .company }}{{ end }}</p>
					</li>
					{{ end }}
				{{ end }}
			</ul>

			{{ partial "wave.html" . }}
		</div>
	</main>

{{ partial "footer.html" . }}