---
import { getCollection, render } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import Masthead from "../../components/Masthead.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const caseStudies = await getCollection("work");
  return caseStudies.map((caseStudy) => ({
    params: { title: caseStudy.data.slug },
    props: { caseStudy },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { caseStudy } = Astro.props;
const { Content } = await render(caseStudy);
---

<Layout title={caseStudy.data.title}>
  <Masthead>
    {
      caseStudy.data.draft && (
        <div class="mb-6 inline-block rounded-lg px-2.5 py-0.5 text-base text-yellow-500 ring ring-yellow-200 dark:text-cyan-50 dark:ring-white/15">
          Early draft
        </div>
      )
    }

    <h1
      class="font-bricolage text-4xl font-light -tracking-[0.025em] text-balance md:text-6xl md:tracking-[-0.03em]"
    >
      {caseStudy.data.headline}
    </h1>
  </Masthead>

  <div class="bg-white dark:bg-transparent">
    <main class="mx-auto max-w-6xl px-10 pb-20 md:px-20 md:pb-32 xl:px-0">
      <div
        class="prose prose-xl prose-cyan prose-ul:list-disc prose-ul:max-w-prose prose-p:max-w-prose prose-p:text-pretty prose-headings:text-balance prose-headings:font-semibold prose-h3:text-xl prose-h3:md:text-2xl prose-h2:font-bricolage prose-h2:-tracking-[0.03em] max-w-none"
      >
        <Content />
      </div>
    </main>
  </div>
</Layout>
