---
import { Image } from "astro:assets";

import CaseStudyLayout from "../../layouts/CaseStudyLayout.astro";
import CaseStudyCallout from "../../components/CaseStudyCallout.astro";
import manualTestImage from "../../images/manual-test@2x.png";
import pickAWinnerImage from "../../images/pick-a-winner@2x.png";
---

<CaseStudyLayout
  title="Redesigning A/B Testing for newsletter-style campaigns"
  headline="Redesigning A/B Testing for newsletter-style campaigns"
  draft={true}
>
  <CaseStudyCallout
    description="I designed the A/B testing experience for Vero 2.0, bringing back a critical feature from the legacy platform. The goal was to modernise the flow, integrate it into the new design system, and ensure it supported complex campaign logic. I worked closely with engineers to polish the UI, maintain consistency, and test functionality."
  />

  <h2>The Problem</h2>
  <ul>
    <li>
      Vero 2.0 initially launched without A/B testing, putting a key customer at
      risk of churning if the feature wasn't delivered quickly.
    </li>
    <li>
      The challenge was to migrate this functionality quickly from the legacy
      platform to Vero 2.0 while also improving the overall UX to better fit the
      new campaign builder model.
    </li>
  </ul>

  <h2>Goals</h2>
  <ul>
    <li>
      Independently design the UI and UX for a modernised A/B testing
      experience.
    </li>
    <li>
      Drawing inspiration from the legacy platform while fitting the feature
      into the new design system and component patterns..
    </li>
    <li>
      Identify and account for edge cases to support complex campaign logic and
      ensure a reliable user experience.
    </li>
    <li>
      Identify and account for edge cases to support complex campaign logic and
      ensure a reliable user experience.
    </li>
  </ul>

  <h2 class="font-bricolage text-xl font-light -tracking-[0.01em] md:text-3xl">
    Process
  </h2>

  <h3>Research</h3>

  <p>
    Benchmarked how similar tools (like Mailchimp, Customer.io, and Braze)
    handled A/B testing, especially how they explained traffic split, metrics,
    and variant selection.
  </p>

  <h3>Exploring designs</h3>

  <p>
    Shared early mockups internally to validate direction and ensure feasibility
    under technical constraints and tight timelines.
  </p>

  <h3>Refining design</h3>

  <p>
    Worked closely with product and engineering to scope a realistic MVP version
    that covered core functionality but allowed for future iteration.
  </p>

  <figure class="-mx-10">
    <Image
      class="rounded-4xl bg-cyan-50"
      src={manualTestImage}
      alt="Manual test"
    />

    <figcaption>Manual test</figcaption>
  </figure>

  <figure class="-mx-10">
    <Image
      class="rounded-4xl bg-yellow-50"
      src={pickAWinnerImage}
      alt="Pick a winner"
    />

    <figcaption>Pick a winner</figcaption>
  </figure>
</CaseStudyLayout>
