---
import { Image } from "astro:assets";

import CaseStudyLayout from "../../layouts/CaseStudyLayout.astro";
import CaseStudyCallout from "../../components/CaseStudyCallout.astro";
import stylesExplorationImage from "../../images/styles-exploration@2x.png";
import stylesExploration2Image from "../../images/styles-exploration-2@2x.png";
---

<CaseStudyLayout title="Public facing sites" headline="Public facing sites">
  <div class="max-w-prose">
    <CaseStudyCallout
      description="I designed the A/B testing experience for Vero 2.0, bringing back a critical feature from the legacy platform. The goal was to modernise the flow, integrate it into the new design system, and ensure it supported complex campaign logic. I worked closely with engineers to polish the UI, maintain consistency, and test functionality."
    />

    <h2>The Problem</h2>
    <ul>
      <li>
        The Vero brand and UI lacked consistency across marketing and product
        touch-point.
      </li>
    </ul>

    <h2>Goals</h2>
    <ul>
      <li>
        Collaborate on a full redesign of the Vero brand and design system, and
        lead applying and adapting it across the marketing website, signup/login
        pages, blog, help docs, and social media platforms to ensure a cohesive
        and modern visual identity.
      </li>
    </ul>
    <h2>Process</h2>
  </div>

  <figure class="-mx-10">
    <Image
      class="rounded-4xl bg-teal-50"
      src={stylesExplorationImage}
      alt="Styles exploration"
    />
  </figure>
  <figure class="-mx-10">
    <Image
      class="rounded-4xl bg-teal-50"
      src={stylesExploration2Image}
      alt="Styles exploration 2"
    />
  </figure>

  <h2>Release and iterate</h2>
</CaseStudyLayout>
