---
layout: _layouts/base.html
socials:
  - title: Mastodon
    handle: chocho@fosstodon.org
    url: https://fosstodon.org/@chocho
  - title: Github
    handle: kachunchau
    url: https://github.com/kachunchau
  - title: Spotify
    handle: chocho
    url: https://open.spotify.com/user/1123026550?si=3ad8b17298354ea3
  - title: Email
    handle: kachun@kachunchau.com
    url: mailto:kachun@kachunchau.com
---

<div class="mb-10 text-5xl">👋</div>

<h1 class="font-medium leading-tight mb-16 relative text-4xl text-gray-100">Hello there, I'm Ka-Chun Chau&mdash;a <abbr class="no-underline" title="User Interface">UI</abbr> designer from Northern Ireland that codes. Currently working remote for <a class="font-semibold text-gray-50 duration-300 transition ease-in-out hover:text-orange-500" href="https://getvero.com">Vero</a> in Hong Kong.</h1>

<h2 class="font-medium mb-3 uppercase text-sm text-gray-400">Elsewhere:</h2>
<ul class="space-y-2 sm:space-y-0">
  {% for social in socials %}
    <li>
      <a class="duration-300 flex items-center ease-in-out group p-5 ring ring-inset ring-white/5 rounded-3xl space-x-5 transform-gpu transition hover:bg-white/5 sm:-mx-5 sm:ring-0 sm:hover:scale-105" href="{{ social.url }}" {{ 'rel=me' if social.title == 'Mastodon'}}>
        <div class="flex-none">
          {% if social.title == "Email" %}
            <div class="flex items-center justify-center text-5xl w-14 h-14">📨</div>
          {% else %}
            <img class="w-14 h-14" src="/assets/images/{{ social.title | slugify }}.svg" loading="lazy" decoding="async" alt="{{ social.title }} logo">
          {% endif %}
        </div>

        <div class="space-y-1 overflow-hidden">
          <h2 class="font-medium text-xl text-gray-50 group-hover:text-orange-500">
            {{ social.title }}
          </h2>
          {% if social.handle %}
            <p class="text-lg truncate">{{ social.handle }}</p>
          {% endif %}
        </div>
      </a>
    </li>
  {% endfor %}
</ul>