---
import Layout from "./Layout.astro";
import Masthead from "../components/Masthead.astro";

interface Props {
  title: string;
  headline: string;
}

const { title, headline } = Astro.props;
---

<Layout title={title}>
  <Masthead>
    <h1
      class="font-bricolage text-4xl font-light -tracking-[0.025em] text-balance md:text-6xl md:tracking-[-0.04em]"
    >
      {headline}
    </h1>
    <!-- <h1 class="text-4xl font-light tracking-[-0.025em] text-pretty md:text-5xl">
      {headline}
    </h1> -->

    <p
      class="mt-5 inline-block rounded-full bg-orange-100 px-3 py-0.5 text-base text-orange-500"
    >
      WIP - Early Look
    </p>
  </Masthead>

  <div class="bg-white dark:bg-transparent">
    <main class="mx-auto max-w-[1200px] px-10 pb-20 md:px-20 md:pb-32 xl:px-0">
      <div
        class="prose prose-xl prose-cyan prose-ul:list-disc prose-p:text-pretty prose-headings:text-balance prose-h3:font-semibold prose-h2:text-2xl prose-h2:md:text-3xl prose-h3:text-xl prose-h3:md:text-2xl prose-h2:font-bricolage prose-h2:font-light prose-h2:-tracking-[0.03em] max-w-none"
      >
        <slot />
      </div>
    </main>
  </div>
</Layout>
