---
import Layout from "./Layout.astro";
import Masthead from "../components/Masthead.astro";

interface Props {
  title: string;
  headline: string;
}

const { title, headline } = Astro.props;
---

<Layout title={title}>
  <Masthead size="compact">
    <h1 class="text-4xl font-light tracking-[-0.025em] text-pretty md:text-5xl">
      {headline}
    </h1>

    <p class="mt-4 text-lg text-slate-400">WIP - Early Look!</p>
  </Masthead>

  <div class="bg-white dark:bg-transparent">
    <main class="mx-auto max-w-[1200px] px-10 pb-20 md:px-20 md:pb-32 xl:px-0">
      <div
        class="prose prose-xl prose-img:shadow-lg prose-teal prose-ul:list-disc prose-p:text-pretty prose-headings:text-balance prose-h3:font-semibold prose-h2:text-2xl prose-h2:md:text-3xl prose-h3:text-xl prose-h3:md:text-2xl prose-h2:font-bricolage prose-h2:font-light prose-h2:-tracking-[0.03em] mx-auto max-w-2xl"
      >
        <slot />
      </div>
    </main>
  </div>
</Layout>
